{%extends "base.html" %}

{%block title%}Register Missing{%endblock%}

{%block content%}
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-body">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert alert-dismissible fade show" role="alert">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <h4 class="text-center mb-4">Missing Person Report</h4>

            <form action="/missingperson" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="personName" class="form-label">Name of Person</label>
                    <input type="text" name="personName" class="form-control" id="personName" placeholder="Enter the name of the missing person">
                </div>


                <div class="mb-3">
                    <label for="lastSeen" class="form-label">Last Seen Where</label>
                    <input type="text" class="form-control" id="lastSeen" name="lastSeen" placeholder="Enter the last seen location">
                </div>


                <div class="mb-3">
                    <label for="contactNumber" class="form-label">Contact No. If Found</label>
                    <input type="tel" class="form-control" id="contactNumber" name="contactNumber" placeholder="Enter a contact number">
                </div>


                <div class="mb-3">
                    <label for="uploadPhoto" class="form-label">Upload Photo</label>
                    <input class="form-control" type="file" id="uploadPhoto" name="uploadPhoto">
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-danger">Submit Report</button>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}
