{% extends "base.html" %}
{% block title %}Signup{%endblock%}

{% block content %}
    <div class="container min-vh-100 d-flex justify-content-center align-items-center w-50 p-2">
        <div class="card p-5">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="mb-3">
                {% for category, message in messages %}
                <p class="alert alert-{{category}}">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <form class="row g-3" action="/signup" method="POST">
                <div class="col-md-6">
                    <label for="inputEmail4" class="colFormLabelSm">Email</label>
                    <input type="email" class="form-control form-control-sm" id="inputEmail4" name="email" placeholder="example@gmail.com">
                </div>
                <div class="col-md-6">
                    <label for="username" class="colFormLabelSm">Username</label>
                    <input type="username" class="form-control form-control-sm" id="username" name="username">
                </div>
                <div class="col-12">
                    <label for="name" class="colFormLabelSm">Full Name</label>
                    <input type="text" class="form-control form-control-sm" id="name" name="name">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="colFormLabelSm">Password</label>
                    <input type="password" class="form-control form-control-sm" id="inputPassword4" name="password">
                </div>
                <div class="col-md-6">
                    <label for="phoneNumber" class="colFormLabelSm">Phone Number</label>
                    <input type="text" class="form-control form-control-sm" id="phoneNumber" name="phone" placeholder="+880**********">
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="colFormLabelSm">Address</label>
                    <input type="text" class="form-control" id="inputAddress" name="address" placeholder="1234 Main St">
                </div>
                <div class="col-md-6">
                    <label for="nid" class="colFormLabelSm">NID Number</label>
                    <input type="text" class="form-control form-control-sm" id="nid" name="nid" placeholder="13 digit NID Number">
                </div>
                <div class="col-md-6">
                    <label for="dob" class="colFormLabelSm">Date Of Birth</label>
                    <input type="date" class="form-control form-control-sm" id="dob" name="dob" placeholder="dd/mm/yyyy">
                </div>
                <div class="col-md-4">
                    <label for="bloodgroup" class="colFormLabelSm">Blood Group</label>
                    <select id="bloodgroup" class="form-select" name="bloodgroup">
                    <option selected>Choose...</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                    </select>
                </div>
                <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck">
                      <label class="form-check-label" for="gridCheck">
                        Check me out
                      </label>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-outline-primary">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}